.git
.github
.editorconfig
.env
/vendor/
/node_modules/
/public/build/
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/data/*
/storage/logs/*.log
npm-debug.log
yarn-error.log
docker-compose.yml
Dockerfile 
README.md
/public/storage
crowdin.yml 
sonar-project.properties
/.idea
eslint.config.js
version
install.lock
