.git
.github
.idea
.env
.gitignore
.gitattributes
.prettierrc
.prettierignore
.eslintrc.js
.eslintignore
jsconfig.json
phpunit.xml
node_modules
vendor
public/hot
storage/logs/**
storage/app/documents/**
storage/app/public/**
storage/clockwork/**
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**