/node_modules
/public/build
/public/hot
/public/uploads/*
/public/storage
/public/themes/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.scannerwork
cypress.env.json
cypress/screenshots
cypress/videos
cypress/downloads