/* Fonts */
@font-face {
    font-family: 'Inter';
    src: url('./Inter/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('./Inter/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Inter';
    src: url('./Inter/Inter-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Inter';
    src: url('./Inter/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('./Inter/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url('./Inter/Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Inter';
    src: url('./Inter/Inter-Black.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'Inter';
    src: url('./Inter/Inter-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'Inter';
    src: url('./Inter/Inter-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}
