@import "tailwindcss";
@import "tailwindcss-primeui";

@theme {
    --color-primary-50: #e7f0fb;
    --color-primary-100: #cddff6;
    --color-primary-200: #a9c7f0;
    --color-primary-300: #85aee9;
    --color-primary-400: #5f94e0;
    --color-primary-500: #4a7dcb;
    --color-primary-600: #346bb4;
    --color-primary-700: #2c5894;
    --color-primary-800: #234473;
    --color-primary-900: #1b355b;
    --color-primary-950: #142543;
    --color-surface-0: #ffffff;
    --color-surface-50: #f4f6f8;
    --color-surface-100: #e8edf2;
    --color-surface-200: #d1d9e0;
    --color-surface-300: #b0bdcf;
    --color-surface-400: #889aac;
    --color-surface-500: #667789;
    --color-surface-600: #4c5d6f;
    --color-surface-700: #394657;
    --color-surface-800: #283341;
    --color-surface-900: #1a242f;
    --color-surface-950: #0e151d;
    --color-green-50: #f3fdf6;
    --color-green-100: #d8f9e3;
    --color-green-200: #b5f2cc;
    --color-green-300: #83e8aa;
    --color-green-400: #4fd982;
    --color-green-500: #22c55e;
    --color-green-600: #1da34c;
    --color-green-700: #17803b;
    --color-green-800: #115e2c;
    --color-green-900: #0b471f;
    --color-green-950: #062b13;
    --color-red-50: #fef2f2;
    --color-red-100: #fde8e8;
    --color-red-200: #fbd5d5;
    --color-red-300: #f8b4b4;
    --color-red-400: #f48080;
    --color-red-500: #ef4444;
    --color-red-600: #dc2626;
    --color-red-700: #b91c1c;
    --color-red-800: #991b1b;
    --color-red-900: #7f1d1d;
    --color-red-950: #450a0a;
    --color-blue-50: #e7f0fb;
    --color-blue-100: #cddff6;
    --color-blue-200: #a9c7f0;
    --color-blue-300: #85aee9;
    --color-blue-400: #5f94e0;
    --color-blue-500: #4a7dcb;
    --color-blue-600: #346bb4;
    --color-blue-700: #2c5894;
    --color-blue-800: #234473;
    --color-blue-900: #1b355b;
    --color-blue-950: #142543;
    --color-orange-50: #fff7ed;
    --color-orange-100: #ffedd5;
    --color-orange-200: #fed7aa;
    --color-orange-300: #fdba74;
    --color-orange-400: #fb923c;
    --color-orange-500: #f97316;
    --color-orange-600: #ea580c;
    --color-orange-700: #c2410c;
    --color-orange-800: #9a3412;
    --color-orange-900: #7c2d12;
    --color-orange-950: #431407;
    --color-primary: var(--color-primary-500);
    --color-primary-contrast: var(--color-surface-100);
    --color-primary-emphasis: var(--color-primary-700);
    --color-border-surface: var(--color-surface-200);
    --color-bg-emphasis: var(--color-surface-100);
    --color-bg-highlight: var(--color-surface-50);
    --color-bg-highlight-emphasis: var(--color-surface-0);
    --color-text-color: var(--color-surface-900);
    --color-text-color-emphasis: var(--color-surface-800);
    --color-text-muted-color: var(--color-surface-600);
    --color-text-muted-color-emphasis: var(--color-surface-500);
}

@custom-variant dark (&:where(.dark, .dark *));

* {
    font-family: 'Roboto', sans-serif;
}



.dark {
    --primary: var(--color-primary-500);
    --surface: var(--color-surface-900);
}

/* Toggleable Content */
.sidemenu-toggleable-content-enter-from,
.sidemenu-toggleable-content-leave-to {
    max-height: 0;
}

.sidemenu-toggleable-content-enter-to,
.sidemenu-toggleable-content-leave-from {
    max-height: 1000px;
}

.sidemenu-toggleable-content-leave-active {
    overflow: hidden;
    transition: max-height 0.45s cubic-bezier(0, 1, 0, 1);
}

.sidemenu-toggleable-content-enter-active {
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 5px !important;
}

::-webkit-scrollbar-track {
    background: var(--color-blue-50) !important;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-blue-400) !important;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-blue-500) !important;
}

.dark ::-webkit-scrollbar-thumb {
    background: var(--color-blue-400) !important;
    border-radius: 5px;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: var(--color-blue-500) !important;
}

.dark ::-webkit-scrollbar-track {
    background: var(--color-surface-800) !important;
}

.dark ::-webkit-scrollbar {
    width: 5px !important;
}

/* Custom Classes */
.link-none-style {
    text-decoration: none !important;
}

.card {
    background-color: #ffffff;
    border: var(--color-surface-100) 1px solid;
    box-shadow: 0 1px 1px 0 var(--color-surface-200);
    padding: 0.75rem;
    border-radius: 0.5rem;
}

.dark .card {
    background-color: var(--color-surface-900);
    border: var(--color-surface-800) 1px solid;
    box-shadow: 0 1px 1px 0 var(--color-surface-700);
}

.empty-icon {
    font-size: 1.5rem;
}
