.p-datatable .p-datatable-header {
    border-radius: 6px 6px 0 0;
}

.p-panel .p-panel-content:last-child {
    border-top: 0 none;
}

.card {
    background-color: #1c2127;
    border: 1px solid #0b213f;
    border-radius: 6px;
    padding: 0.75rem;
    margin-bottom: 1rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.card-header {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.p-datatable .p-datatable-thead > tr > th:first-child {
    border-radius: 6px 0 0 0 !important;
}

.p-datatable .p-datatable-thead > tr > th:last-child {
    border-radius: 0 6px 0 0 !important;
}

.p-datatable .p-paginator {
    border-radius: 0 0 6px 6px !important;
}

.p-message-close.p-link {
    margin-left: auto !important;
}

.p-button svg {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.p-message-wrapper svg {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.p-datatable .p-datatable-tbody > tr > td {
    cursor: pointer;
}